version: '3'
services:
  dinner-roulette:
    build: .
    ports:
      - "8081:8080"
    environment:
      - NODE_ENV=production
      - ADMIN_USERNAME=${ADMIN_USERNAME:-}
    volumes:
      - ./public:/usr/src/app/public
      - ./data:/usr/src/app/data
